<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scchildcare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_scchildcare_logo_small"
        android:label="@string/app_name"
        android:theme="@style/NoActionBar" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Main Page View -->
        <activity
            android:name="com.example.scchildcare.MainActivity"
            android:theme="@style/NoActionBar" 

            android:screenOrientation="portrait" >

           

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Search Results Page View -->
        <activity
            android:name="com.example.scchildcare.SearchResultsActivity"
            android:parentActivityName="com.example.scchildcare.MainActivity"

            android:theme="@style/NoActionBar" 

            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.scchildcare.MainActivity" />
        </activity>

        <!-- GPS Search Results Page View -->
        <activity
            android:name="com.example.scchildcare.GPS_SearchResultsActivity"
            android:parentActivityName="com.example.scchildcare.MainActivity"
            android:theme="@style/NoActionBar"

            android:screenOrientation="portrait" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.scchildcare.MainActivity" />
        </activity>

        <!-- Single List Item View -->
        <!--
     BUG REPORT: When the parent activity up arrow is used, this will attempt to fill the list view with an empty array, sending it to 
	the sorry page immediately, need to figure out how to fix this
        -->
        <activity
            android:name="com.example.scchildcare.SingleMenuItemActivity"
            android:label="Single Menu Item"
            android:parentActivityName="com.example.scchildcare.SearchResultsActivity"
            android:theme="@style/NoActionBar"

            android:screenOrientation="portrait" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.scchildcare.SearchResultsActivity" />
        </activity>

        <!-- Sorry Page View -->
        <activity
            android:name="com.example.scchildcare.SorryMessageActivity"
            android:label="Oops!"
            android:parentActivityName="com.example.scchildcare.MainActivity"
            android:theme="@style/NoActionBar" 

            android:screenOrientation="portrait" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.scchildcare.MainActivity" />
        </activity>

        <!-- HTTP Error Page View -->
        <activity
            android:name="com.example.scchildcare.ConnectionErrorActivity"
            android:label="Oops!"
            android:parentActivityName="com.example.scchildcare.MainActivity"
            android:theme="@style/NoActionBar" 

            android:screenOrientation="portrait" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.scchildcare.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
        </activity>
        
        <meta-data 
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCxnmw9isphosD7CCAgoviQuC0YqYyKgpM" 
            />
    </application>

</manifest>